section.banner-section {
  position: relative;
  padding: 150px 0 100px;
  background-color: #000;
  margin-top: 0;
  min-height: 100vh;

  @media @mobileTab {
    text-align: center;
  }

  .full-image {
    pointer-events: none;
    width: 100%;
    opacity: 0.8;

    @media @mobileTab {
      width: 100%;
      opacity: 0.2;
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      rgba(16, 19, 27, 0) 30%,
      rgba(16, 19, 27) 60%
    );
    // z-index: 1;

    @media @mobileTab {
      content: unset;
    }
  }

  #schedule {
    // position: relative;
    // padding-top: 60px;
    // padding-bottom: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    @media @mobileTab {
      padding: 0;
    }

    .row {
      align-items: flex-end;
    }
  }

  .content-wrapper {
    @media @mobileTab {
      margin-bottom: 50px;
    }

    h1 {
      font-size: 96px;
      color: #fff;
      text-align: center;
    }
  }

  .contact-form {
    .content-wrapper {
      h3 {
        font-size: 42px;
        color: @primary-color;
      }
    }
  }
  .social-media-wrapper {
    position: absolute;
    right: 0px;
    bottom: -300px;

    @media @mobileTab {
      flex-direction: column;
      margin-top: 40px;
    }

    p {
      margin-bottom: 0;
      font-size: 24px;
      font-family: @font-secondary;

      @media @mobileTab {
        margin-bottom: 10px;
      }
    }

    a {
      background: @sm-background;
      color: @social-media;
      width: 20px;
      height: 20px;
      padding: 20px;
      margin-right: 15px;
      border-radius: 50%;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      @media @mobileTab {
        margin: 0;

        &:not(:last-child) {
          margin-right: 30px;
        }
      }

      i {
        font-size: 20px;
      }
    }
  }
}

section.welcome-section {
  text-align: center;
  overflow: hidden;

  .container {
    display: flex;

    .img-left,
    .img-right {
      position: relative;
      width: 150px;
      height: 150px;

      &:nth-child(1) {
        top: 330px;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }

      .circle-white {
        width: 313px;
        height: 313px;
        border: 26px solid #fff;
        border-radius: 50%;
        position: absolute;
        bottom: -234px;
        left: 9px;
        z-index: 2;
      }

      .circle-pink {
        width: 108px;
        height: 108px;
        background: #fee1dd;
        border-radius: 50%;
        position: absolute;
        top: 125px;
        right: 0;
        z-index: 5;
      }
    }
  }

  .content-wrapper {
    max-width: 60%;
    margin: 0px auto;

    @media @mobileTab {
      max-width: 100%;
    }
  }
}

section.services-section {
  background: @theme-bg-light;
  padding: @default-margin 0;
  text-align: center;

  .content-wrapper {
    margin-bottom: 100px;

    .theme-btn {
      margin-top: 100px;
    }

    h2,
    p {
      margin-bottom: 40px;
    }
  }

  .row {
    .col-lg-4:nth-child(1) {
      transform-origin: bottom right;
      transform: rotate(-9.27deg);
    }
    .col-lg-4:nth-child(3) {
      transform-origin: bottom left;
      transform: rotate(8.27deg);
    }
  }

  .item {
    position: relative;

    img {
      border-radius: 50px 0;
    }

    .circle {
      background: @tertiary-color;
      border-radius: 50%;
      position: absolute;
      top: 70%;
      left: 50%;
      width: 150px;
      height: 150px;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      justify-content: center;

      h3 {
        color: #fff;
        font-family: "Nunito Sans", sans-serif !important;
        font-weight: 700;
        font-size: 18px;
        text-transform: uppercase;
      }
    }
  }

  .row {
    padding: 0 80px;
    gap: 50px 0;
  }
}

section.testimonials-section {
  background-color: @theme-bg-light;
  text-align: center;
  padding-top: 0 !important;

  .content-wrapper {
    h3 {
      margin-bottom: 0;
    }

    h2,
    p {
      margin-bottom: 40px;
    }
  }

  .row {
    .name {
      position: absolute;
      top: 37%;
      left: 45%;
      width: 12%;
      z-index: 5;
    }

    .col-lg-6 {
      &:first-child {
        border-radius: 50px 0 0 0;
        background: #fff;
        padding: 130px 60px;
        margin-bottom: 46px;
      }

      &:nth-child(3) {
        margin-top: 46px;
        padding-left: 0;
      }

      .quottation-left {
        position: absolute;
        top: 50px;
        left: 50px;
      }

      .quottation-right {
        position: absolute;
        bottom: 50px;
        right: 50px;
        transform: rotate(180deg);
      }
    }
  }

  .image {
    position: relative;
    width: 100%;
    height: 100%;

    img {
      border-radius: 0 0 50px 0;
    }
  }

  .item {
    width: 80%;
    margin: 0px auto;

    @media @mobileTab {
      width: 100%;
    }
  }

  .swiper {
    .swiper-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 2;
      pointer-events: none;

      @media @mobileTab {
        position: initial;
        justify-content: center;
        margin-top: 30px;
        gap: 0 20px;
      }

      .swiper-btn {
        // background-color: @primary-color;
        color: #000;
        // width: 40px;
        // height: 40px;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        pointer-events: all;
        font-size: 54px;
        background-color: #fff;
      }
    }
  }
}

section.options-section {
  text-align: center;

  .full-image {
    z-index: -5;
  }
  .row {
    justify-content: right;

    .col-lg-6 {
      background: #fff;
      border-radius: 50px 0 50px;
      padding: 110px 75px 55px;

      .circle {
        position: absolute;
        top: -10px;
        left: -115px;
        width: 230px;
        height: 230px;

        font-family: "Noto Sans", sans-serif;
        font-weight: 600;
        font-size: 18px;
        text-transform: capitalize;
      }

      .theme-btn {
        margin: 50px 0;
      }

      .content-wrapper {
        h2 {
          color: @team-name;
        }
      }
    }
  }
}

section.consultant-section {
  background-color: @theme-bg-light;
  text-align: center;
  overflow: hidden;

  .consultant {
    position: relative;

    img {
      position: absolute;
      top: -80px;
      left: 0px;
      width: 340px;
      z-index: 5;
      transform: rotate(21deg);
    }
  }

  .container {
    position: relative;
    z-index: 10;
    padding: 0 270px;
  }

  .circle-white {
    width: 313px;
    height: 313px;
    border: 26px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: -49px;
    left: -13px;
    z-index: 2;
  }

  .circle-pink {
    background: none;
    border: 24px solid #fee1dd;
    position: absolute;
    right: 10%;
    bottom: -10%;
    width: 260px;
    height: 260px;
    border-radius: 50%;
  }
}

section.team-section {
  text-align: center;

  .content-wrapper {
    margin-bottom: 40px;

    h2 {
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 80px;
    }
  }

  .row {
    justify-content: space-between;
  }

  .item {
    position: relative;

    .image {
      position: relative;
      padding-top: 100%;
      margin-bottom: 15px;

      img {
        border-radius: 50%;
      }
    }

    h4 {
      font-family: @font-tertiary !important;
      font-weight: 800;
      text-transform: capitalize;
      color: @team-name;
      font-size: 30px;
      margin-bottom: 10px;
    }

    h5 {
      font-family: @font-tertiary !important;
      font-weight: 800;
      text-transform: uppercase;
      color: @team-position;
      font-size: 20px;
    }

    h3 {
      font-size: 30px;
      color: @secondary-color;
    }
  }
}

section.contact-section {
  padding-bottom: @secondary-margin;

  .full-image {
    transform: scaleX(-1);
    z-index: -5;
  }

  .container {
    .row {
      justify-content: right;

      .col-lg-5 {
        background: #fff;
        border-radius: 50px 0 50px 0;
        padding: 50px 85px;

        .circle {
          position: absolute;
          top: 0;
          left: -28%;
          width: 250px;
          height: 250px;
          text-align: center;
        }
      }
    }
  }

  .content-wrapper {
    text-align: center;
    position: relative;
    z-index: 10;
    max-width: 80%;
    margin: 0 auto;

    @media @mobileTab {
      max-width: 100%;
    }
  }
}

section.instagram-section {
  padding: 0;

  .container {
    position: relative;

    .insta-parent {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      column-gap: 35px;
      position: absolute;
      width: 100%;
      top: -130px;
      left: 0;

      .full-image-parent {
        padding-top: 100%;

        img {
          border-radius: 50%;
          overflow: hidden;
        }
      }

      .insta-name-parent {
        background: #ed9aa2;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;

        .insta-name,
        p {
          font-family: "Montserrat", sans-serif;
          font-weight: 700;
          font-size: 18px;
          color: #fff;
        }

        i {
          color: #fff;
          font-size: 38px;
        }
      }
    }
  }
}
